@import '~antd/dist/antd.css';
/* resets */

[contenteditable="true"]:active,
[contenteditable="true"]:focus{
  border:none;
  outline:none;
}
input{
    border: none;
}
/* resets */
.header{
    background: rgb(219, 76, 63);
    color: white;
    height: 50px;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.ant-page-header-heading-title,.ant-page-header-heading-sub-title{
    color: white;
}
#main{
    font-family: monospace;
    height:100vh
}
.button-div{
    display: inline-block;
    width: 250px;
    justify-content: flex-end;
    padding: 10px;
    text-align: right;
}
.delete-div{
    display: flex;
    align-items: center;
}
#main{
    display: flex;
}
.task{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding: 20px;
    width: 100%;
}
.newButtonDiv,.buttonText{
    padding: 10px;
}
.primaryBtn{
    background-color: rgb(219, 76, 63);
    color: black;
}
.primaryBtn:focus:hover{
    background:rgb(228, 81, 67) !important;
}
.bordered-div{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    width: 70%;

}
.addTaskDiv{
    width: 100%;
    margin-top: 10px;
}
.singleTask{
    display: flex;
    width: 45%;
    justify-content: space-between;
    align-items: center;
}
.taskList{
    display: flex;
    align-items: center;
}
.ant-menu-title-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#heading{
     display: flex;
    align-items: center;

}
.singleTaskDiv{
    padding: 10px;
    color: inherit;
}
a{
    color:inherit
}
.ant-btn:hover {
    background: lightgray;
}
.toggleButton{
    background: transparent;
    
}
.modalInputDiv{
    display: block;
}
.ant-modal-header{
    background-color: #fafafa;
    border-bottom: 1px solid #ddd;
}
.ant-modal-title{
    font-weight: bold;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.emptyPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 100%;
}
.sidebar-menu{
    height: 100%;
    background: #fafafa;
}