@import '~antd/dist/antd.css';
/* resets */

[contenteditable="true"]:active,
[contenteditable="true"]:focus{
  border:none;
  outline:none;
}
/* resets */

.button-div{
    display: inline-block;
    width: 250px;
    justify-content: flex-end;
    padding: 10px;
    text-align: right;
}
.delete-div{
    display: flex;
    align-items: center;
}
#main{
    display: flex;
}
.task{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding: 20px;
    width: 100%;
}
.newButtonDiv{
    padding: 10px;
}
.primaryBtn{
    background-color: brown;
}
.bordered-div{
    border: 1px solid black;
    padding: 20px;
    width: 70%;

}
.addTaskDiv{
    width: 100%;
}
.singleTask{
    display: flex;
    width: 45%;
    justify-content: space-between;
    align-items: center;
}
.taskList{
    display: flex;
    align-items: center;
}
.ant-menu-title-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}